.relative {
    position: relative
}

/* Hides the text */
.hide {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.portfolio-title {
    margin-top: 5em;
}

.card-uniform {
    width: 18rem;
    padding: 5em;
    display: flex;
    align-items: center;
}

/* PORTFOLIO CARD SPACING */
.card-spacing {
    margin: 5em 3em 1em 3.75em;
    width: 70%;
}

/* :hover = "on hover" do the following to ".hide" which is "change to display: block" */
.card-spacing:hover .hide {
    display: block;
    opacity: 1;
}

.section-background-turq {
    background-color: var(--turq);
    max-height: 33%;
}

.bottom-space {
    margin-top: 2.5em;
}

.Row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.custom-shape-divider-top-1711386641 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1711386641 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    color: linear-gradient(90deg, rgba(248, 87, 172, 1) 0%, rgba(245, 97, 131, 1) 35%, rgba(239, 132, 53, 1) 100%);
}

.custom-shape-divider-top-1711386641 .shape-fill {
    fill: rgb(248, 87, 172);
}

.custom-shape-divider-top-1711564317 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1711564317 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1711564317 .shape-fill {
    fill: url(#MyGradient)
}