.bottom-padding {
    padding-bottom: 7em;
}

.top-padding {
    padding-top: 7em;

}


.card-spacing {
    margin: 1.75em;
}

.section-background-turq {
    background-color: var(--turq);
    padding: 1em;

}