footer {
    background-color: var(--turq);
    color: var(--white);
    text-align: center;
    position: relative;
    bottom: 0;
}

.Footer__Icons {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

.Footer__Icon__Spacing {
    margin: .75rem 2rem;

}

.custom-shape-divider-bottom-1711908441 {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711908441 svg {
    z-index: 1;
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 167px;
    overflow: hidden;
}

.custom-shape-divider-bottom-1711908441 .shape-fill {
    fill: #009AAE;
}