footer {
    background-color: var(--turq);
    text-align: center;
    position: relative;
    bottom: 0;
}

.navbar-custom-color .nav-link {
    color: var(--white);
}

.navbar-custom-color {
    background-color: var(--turq);
}

.myName {
    text-align: center;
    justify-content: left;
}

.navbar-custom-color {
    z-index: 1;
}

.relative {
    position: relative;
    margin: 0;
    padding: 0;
}

.custom-shape-divider-bottom-1711908441 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711908441 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 167px;
}

.custom-shape-divider-bottom-1711908441 .shape-fill {
    fill: #009AAE;
}