:root {
  --turq: #009AAE;
  --amber: #F6BB24;
  --khaki: #C8B58D;
  --pinkpeach: #FB968E;
  --white: #fff;
  --licorice: #1B0E03;
}

#root {
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: none;
  color: var(--white);

  ;
}



.white-text {
  color: var(--white);
}