:root {
  --turq: #009AAE;
  --amber: #F6BB24;
  --khaki: #C8B58D;
  --pinkpeach: #FB968E;
  --white: #fff;
  --licorice: #1B0E03;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: none;
  color: var(--white);
  /* color: var(--licorice); */
  /* background-color: rgb(248, 87, 172);
  background: linear-gradient(90deg, rgba(248, 87, 172, 1) 0%, rgba(245, 97, 131, 1) 35%, rgba(239, 132, 53, 1) 100%); */
  ;
}



.white-text {
  color: var(--white);
}